<<<<<<< HEAD


html::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background-color: #ffa800;
}
html::-webkit-scrollbar {
    width: 6px;
    height: 6px;}
html::-webkit-scrollbar-track{ -webkit-border-radius: 0px;border-radius: 0px;}

/*滚动条*/



/*取鼠标移入时的下滑线*/
a:hover{
    text-decoration: none !important;
}
/*轮播部分*/
.wq-banner{
    height: 510px;
    background-image: url("../images/index.images/banertu5.jpg");
}
.wq-banner-b{
    width: 1200px;
    height: 510px;
    margin: 0 auto;
}
.swiper-container {
    position: relative;
    top:20px;
    width: 1200px;
    height: 400px;
    z-index: -1;
}
.wq-banner1{
      background-image: url("../images/index.images/banertu.jpg");
      background-size: 1200px 400px;
}
.wq-banner2{
    background-image: url("../images/index.images/banertu1.jpg");
    background-size: 1200px 400px;
}
.wq-banner3{
    background-image: url("../images/index.images/banertu2.jpg");
    background-size: 1200px 400px;
}
.wq-banner4{
    background-image: url("../images/index.images/banertu3.jpg");
    background-size: 1200px 400px;
}
.wq-banner5{
    background-image: url("../images/index.images/banertu4.png");
    background-size: 1200px 400px;
}
/*固定定位********************************************************************************************/
.wq-banner .hu{
    position: fixed;
    right: 0;
    bottom: 120px;
    width: 70px;
    height: 325px;
    z-index: 999;
    color: rgb(255, 128, 17);
    box-shadow: rgb(210, 210, 210) -3px 0 7px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgb(255, 255, 255);
}
.wq-banner .hu li{
    width: 70px;
    height: 65px;
}
.wq-banner .hu a{
    color: rgb(255, 128, 17);
}
.wq-banner .hu li:hover{
    background: rgb(255, 128, 17);
}
.wq-banner .hu li:hover span{
    color:white;
}
.wq-banner .hu .zi{
    margin-left: 7px;
    color: #A6A6A6;
}
.wq-banner .hu .zi1{
    margin-left: 13px;
    color: #A6A6A6;
}
.wq-banner .hu .zi2{
    margin-left: 7px;
    color: #A6A6A6;
}
.wq-banner .hu .zi3{
    margin-left: 7px;
    color: #A6A6A6;
}
.wq-banner .hu .zi4{
    margin-left: 21px;
    color: #A6A6A6;
}
.wq-banner .hu .tu{
    border: none;
    display: block;
    margin-left: -33px;
    font-size: 25px;
}
.wq-banner .hu li .anticon{
    display: inline-block;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -.125em;
    text-rendering: optimizeLegibility;
}
/*固定定位*/
.wq-banner .rapidly{
    width: 70px;
    height: 240px;
    background-image: url("../images/index.images/fixed.png");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 70px;
    position: fixed;
    top:210px;
    right: 5px;
    cursor: pointer;
    z-index: 10;
}
/*LOL*/
.wq-LOL{
    height: 2711px;
    margin-top: 0;
    background: #F6F6F6;
}
.wq-LOL1{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    background: #fff;
}
.wq-LOL1>ul{
    width: 1035px;
    height: 90px;
    margin-top:5px;
}
.wq-LOL1>ul>li{
    width: 90px;
    height: 90px;
    float:left;
    margin-left: 57px;
}
.wq-LOL1>ul>li>a{
    display: inline-block;
    width: 90px;
    height: 90px;
    position: relative;
}
.wq-LOL1>ul>li>a:hover mark{
    transform: rotateY(360deg);
}
.wq-LOL1>ul>li>a:hover span{
    color: rgb(255, 191, 41);
}
.wq-LOL1>ul>li>a span{
    width: 60px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color:#000;
    position: absolute;
    top:70%;
    left:50%;
    margin-left: -30px;
    transition: all 0.3s linear;
}
.wq-LOL1 .mark1,.mark2,.mark3,.mark4,.mark5,.mark6,.mark7{
    height: 46px;
    width: 46px;
    line-height: 46px;
    background-size: cover;
    color: rgb(255, 168, 0);
    background-position: center center;
    background-color: transparent;
    position: absolute;
    top:10px;
    left: 21px;
    transition: all 1s ease 0s;
}
.wq-LOL1 .mark1{
    background-image: url("../images/index.images/middle.png");
}
.wq-LOL1 .mark2{
    background-image: url("../images/index.images/middle1.png");
}
.wq-LOL1 .mark3{
    background-image: url("../images/index.images/middle2.png");
}
.wq-LOL1 .mark4{
    background-image: url("../images/index.images/middle3.png");
}
.wq-LOL1 .mark5{
    background-image: url("../images/index.images/middle4.png");
}
.wq-LOL1 .mark6{
    background-image: url("../images/index.images/middle5.png");
}
.wq-LOL1 .mark7{
    height: 46px;
    width: auto;
    line-height: 46px;
    background-size: cover;
    color: rgb(255, 168, 0);
    background-position: center center;
    transition: all 1s ease 0s;
    position: absolute;
    top:10px;
    left: 29px;
}
.wq-LOL1 .mark8{
    position: absolute;
    top:10px;
    right:10px;
    cursor: pointer;
}
/*推荐陪玩*/
.wq-LOL .wq-Recommend{
    width: 1200px;
    height: 870px;
    margin: 12px auto 0 auto;
}
.wq-LOL .wq-Recommend .wq-Recommend-left{
    width: 870px;
    height: 870px;
    float: left;
    background: #fff;
}
.wq-LOL .wq-Recommend .wq-Recommend-left h1{
    width: 810px;
    height: 24px;
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 22px;
    margin-bottom: 30px;
    padding-left: 45px;
}
.wq-LOL .wq-Recommend .wq-Recommend-left h1 img{
    width: 32px;
    height: 32px;
}
.wq-LOL .wq-Recommend .wq-Recommend-left h1 span{
    position: absolute;
    top:0;
    right: 10px;
}
/*在线*/
.wq-LOL .wq-Recommend .wq-Recommend-left .Beauty{
    position: absolute;
    width: 810px;
    height: 760px;
    margin-left: 28px;
}
.wq-LOL .wq-Recommend .wq-Recommend-left .Beauty>a{
    float: left;
    width: 250px;
    height: 365px;
    margin-top: 8px;
}
.wq-LOL .wq-Recommend .wq-Recommend-left .Beauty>a>img{
    width: 250px;
    height: 270px;
    border-radius: 6px;
}
.wq-LOL .wq-Recommend .wq-Recommend-left .Beauty>a .Beauty-buttom{
    width: 250px;
    height: 95px;
}
/*语音时间 和单价*/
.wq-LOL .Beauty-buttom-down{
    width: 234px;
    height: 40px;
}
/*语音*/
.wq-LOL .wq-Recommend .wq-Recommend-left .ri{
    width: 82px;
    height: 27px;
    line-height: 27px;
    margin-top: 7px;
    border-radius: 16px;
    background: #FFDF25;
    float: left;
    /*光标变成手形*/
    cursor: pointer;
}
.wq-LOL .wq-Recommend-left .ri1{
    width: 82px;
    height: 27px;
    margin-left: 5px;
}
.wq-LOL .wq-Recommend-left .ri1 .time{
    color: #000;
}
/*42 y币/小时*/
.wq-LOL .wq-Recommend-left .t .le{
    font-size: 12px;
    float: right;
    margin-top:0;
    color: rgb(255, 168, 0);
    background-color: transparent;
}
.wq-LOL .wq-Recommend-left .t .le strong{
    font-size: 30px;
    font-weight: normal;
}
.wq-LOL .t{
    width: 234px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
}
.wq-LOL .t1{
    width: 234px;
    height: 23px;
    margin-top: 8px;
}
.wq-LOL .t1>span{
    color:#000;
}
.wq-LOL .t1>span img{
    width: 25px;
    height: 25px;
}
.wq-LOL .t2{
    display: inline-block;
    vertical-align: middle;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(93, 224, 47);
    padding: 0 5px;
    border-radius: 4px;
}
/*盒子平均分布*/
.wq-LOL .wq-Recommend .wq-Recommend-left .Beauty .lr{
    margin-left: 27px;
    margin-right: 27px;
}
/*人气 土豪排行榜*/
.wq-LOL .wq-Recommend .wq-Recommend-right{
    width: 310px;
    height: 870px;
    float: right;
    position: relative;
    background: #fff;
}
.wq-LOL .wq-Recommend-right .nav{
    width: 310px;
    height: 200px;
    position: relative;
    background-image: url("../images/index.images/ren20.png");
    background-size: 310px;
    background-repeat: no-repeat;
}
.wq-LOL .wq-Recommend-right .nav>.nav1{
    position: absolute;
    top:24px;
    left: 20px;
    width: 270px;
    height: 44px;
    border-radius: 44px;
    background: #fff;
}
.wq-LOL .wq-Recommend-right .nav .ren,.tu{
    width: 135px;
    height: 44px;
    border-radius: 44px;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
    cursor: pointer;
}
/*微信公众号二维码*/
.wq-banner .hu .er{
    width: 150px;
    height: 267px;
    position: absolute;
    top:-100px;
    right: 68px;
    display: none;
}
.wq-banner .hu .erwei{
    position: relative;
}
.wq-banner .hu li:hover .er{
    display: block;
}
.wq-banner .hu .xin{
    width: 144px;
    height: 85px;
    position: absolute;
    top:-90px;
    right: 34px;
}
.wq-LOL .wq-Recommend-right .nav .ren{
    position: absolute;
    top:0;
    left: 0;
    background-color:#fff;
    color:#000;
}
.wq-LOL .wq-Recommend-right .nav .tu{
    position: absolute;
    top:0;
    right: 0;
    background-color:#fff;
    color:#000;
}
.wq-LOL .wq-Recommend-right .nav span.active{
    background-color: rgb(255, 168, 0);
    color:#fff;
}
.wq-LOL .wq-Recommend-right .list{
    position: absolute;
    top:90px;
    left: 20px;
    width: 270px;
    height: 741px;
    display: none;
}
.wq-LOL .wq-Recommend-right .list1{
    position: absolute;
    top:90px;
    left: 20px;
    width: 270px;
    height: 741px;
    display: none;
}
.wq-LOL .wq-Recommend-right .lu.active{
    display:block;
}
.wq-LOL .wq-Recommend-right .list .index{
    position: relative;
    width: 40px;
    height: 60px;
    float: left;
    text-align: center;
}
.wq-LOL .wq-Recommend-right .list1 .index{
    position: relative;
    width: 40px;
    height: 60px;
    float: left;
    text-align: center;
}
.wq-LOL .wq-Recommend-right .index1{
    font-size: 26px;
    position: absolute;
    top:10px;
    left: 15px;
    font-weight: bold;
    color: rgb(49, 49, 49);
}
.wq-LOL .wq-Recommend-right .index::after{
    content: "";
    width: 9px;
    height: 2px;
    position: absolute;
    left: 18px;
    bottom: 0;
    background: rgb(213, 213, 213);
}
.wq-LOL .wq-Recommend-right .avatar::before{
    content: "";
    position: absolute;
    left: 5px;
    top: -14px;
    width: 54px;
    height: 48px;
    background-size: cover;
    background-repeat: no-repeat;
}
/*冠军皇冠*/
.wq-LOL .wq-Recommend-right .no1 .avatar::before{
    background-image: url("../images/index.images/guan.png");
}
/*亚军皇冠*/
.wq-LOL .wq-Recommend-right .no2 .avatar::before{
    background-image: url("../images/index.images/ya.png");
}
/*季军皇冠*/
.wq-LOL .wq-Recommend-right .no3 .avatar::before{
    background-image: url("../images/index.images/ji.png");
}
.wq-LOL .wq-Recommend-right .list .avatar{
    position: relative;
    width: 90px;
    height: 70px;
    float: left;
}
.wq-LOL .wq-Recommend-right .list1 .avatar{
    position: relative;
    width: 90px;
    height: 70px;
    float: left;
}
.wq-LOL .wq-Recommend-right .list .avatar img{
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
}
.wq-LOL .wq-Recommend-right .list1 .avatar img{
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
}
.wq-LOL .wq-Recommend-right .list .info{
    width: 125px;
    height: 64px;
    float: left;
    margin-top: 2px;
    margin-left: 6px;
    color: #8F8F8F;
}
.wq-LOL .wq-Recommend-right .list1 .info{
    width: 125px;
    height: 64px;
    float: left;
    margin-top: 2px;
    margin-left: 6px;
    color: #8F8F8F;
}
/*冠军字体颜色*/
.wq-LOL .wq-Recommend-right .list .no1 .info{
    color:#EE5C5F;
}
/*亚军字体颜色*/
.wq-LOL .wq-Recommend-right .list .no2 .info{
    color:#FDBF45;
}
.wq-LOL .wq-Recommend-right .list .no2 .info img{
    width: 25px;
    height: 25px;
}
.wq-LOL .wq-Recommend-right .list .no4 .info img{
    width: 25px;
    height: 25px;
}
.wq-LOL .wq-Recommend-right .list .no7 .info img{
    width: 25px;
    height: 25px;
}
/*季军字体颜色*/
.wq-LOL .wq-Recommend-right .list .no3 .info{
    color:#2389E9;
}
.wq-LOL .wq-Recommend-right .list>a{
    display: block;
    margin-top: 25px;
    width: 270px;
    height: 70px;
}
/*冠军字体颜色*/
.wq-LOL .wq-Recommend-right .list1 .no1 .info{
    color:#EE5C5F;
}
/*亚军字体颜色*/
.wq-LOL .wq-Recommend-right .list1 .no2 .info{
    color:#FDBF45;
}
.wq-LOL .wq-Recommend-right .list1 .no2 .info img{
    width: 25px;
    height: 25px;
}
.wq-LOL .wq-Recommend-right .list1 .no4 .info img{
    width: 25px;
    height: 25px;
}
.wq-LOL .wq-Recommend-right .list1 .no7 .info img{
    width: 25px;
    height: 25px;
}
/*季军字体颜色*/
.wq-LOL .wq-Recommend-right .list1 .no3 .info{
    color:#2389E9;
}
.wq-LOL .wq-Recommend-right .list1>a{
    display: block;
    margin-top: 25px;
    width: 270px;
    height: 70px;
}

.wq-LOL .wq-Recommend-right .info .p{
    margin-top: 8px;
}
/***********************************包场**************************************/
.wq-PackageYard{
    width: 1200px;
    height: 343px;
    background-color: #fff;
    margin: 18px auto;
}
.wq-PackageYard .header{
    width: 1200px;
    height: 83px;
    position: relative;
}
.wq-PackageYard .header img{
    position: absolute;
    left: 33px;
    top: 33px;
}
.wq-PackageYard .header span{
    position: absolute;
    left: 70px;
    top: 33px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.wq-PackageYard .header i{
    color: rgb(143, 143, 143);
    font-size: 22px;
    line-height: 38px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-style: normal;
}
.wq-PackageYard .header a{
    position: absolute;
    right: 0;
    top: 0;
    width: 110px;
    height: 68px;
    overflow: hidden;
}
/*右上角三角形*/
.wq-PackageYard .header a::before{
    content: "";
    position: absolute;
    top: -56px;
    right: 0;
    width: 0;
    height: 0;
    border-width: 56px;
    border-style: solid;
    border-color: transparent rgb(254, 150, 0) transparent transparent;
    border-image: initial;
}
.wq-PackageYard .header a::after{
    content: "+";
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 30px;
    position: absolute;
    right: 4px;
    top: 0;
}
.wq-PackageYard ul{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0 30px 20px;
}
.wq-PackageYard ul a img{
    width: 172px;
    height: 172px;
}
.wq-PackageYard ul a strong{
    padding-left: 60px;
    font-size: 30px;
    font-weight: normal;
}
.wq-PackageYard ul a mark{
    color:#FDBF45;
    background-color: transparent;
}
/*最新入驻*/
.wq-gBq{
    width: 1200px;
    height: 253px;
    margin: 0 auto;
}
.wq-gBq .header{
    position: relative;
    width: 1200px;
    height: 73px;
}
.wq-gBq .header img{
    position: absolute;
    left: 33px;
    top: 23px;
}
.wq-gBq .header span{
    position: absolute;
    left: 70px;
    top: 23px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.wq-gBq ul{
    width: 1200px;
    height: 180px;
}
.wq-gBq li{
    float: left;
    margin-left: 36px;
    width: 131px;
    height: 160px;
}
.wq-gBq li a{
    width: 124px;
    height: 124px;
}
.wq-gBq li img{
    width: 100%;
    border-radius: 50%;
    transition: all 0.5s ease-in 0s;
}
.wq-gBq li span{
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 30px;
    overflow: hidden;
}
/*****************  以下是 LOL 绝地求生 王者荣耀*********************/
/*******导航栏***********/
.wq-ixU{
    width: 1200px;
    height: 1027px;
    background-color: #fff;
    margin: 18px auto;
}
.wq-ixU .header{
    width: 1200px;
    height: 77px;
    position: relative;
}
.wq-ixU .header i{
    color: rgb(143, 143, 143);
    font-size: 22px;
    line-height: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-style: normal;
}
.wq-ixU .header>a{
    position: absolute;
    right: 0;
    top: 0;
    width: 110px;
    height: 68px;
    overflow: hidden;
}
/*以下是右上角三角形*/
.wq-ixU .header>a::before{
    content: "";
    position: absolute;
    top: -56px;
    right: 0;
    width: 0;
    height: 0;
    border-width: 56px;
    border-style: solid;
    border-color: transparent rgb(254, 150, 0) transparent transparent;
    border-image: initial;
}
.wq-ixU .header>a::after{
    content: "+";
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 30px;
    position: absolute;
    right: 4px;
    top: 0;
}
/*以上是三角形*/
.wq-ixU .header ul{
    width: 1140px;
    height: 77px;
    position: relative;
}
.wq-ixU .header ul li{
    height: 76px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: normal;
    cursor: pointer;
    position: absolute;
    padding: 16px 0 20px;
    margin: 0 20px;
    top:0;
}
.wq-ixU li span{
    line-height: 42px;
}
.wq-ixU .header ul .l1{
   left:20px;
}
.wq-ixU .header ul .l2{
    left:128px;
}
.wq-ixU .header ul .l3{
    left:258px;
}
.wq-ixU .header ul .l4{
    left:400px;
}
.wq-ixU .header ul .l5{
    left:535px;
}
.wq-ixU .header ul .l6{
    left:650px;
}
/*************导航栏****************/
/*********************以下是图片************************/
.wq-ixU .list{
    width: 1200px;
    height: 850px;
    margin: 12px auto 0 auto;
}
/*在线*/
.wq-ixU .list>a{
    float: left;
    margin-left: 38px;
    margin-top: 37px;
    width: 250px;
    height: 365px;
}
.wq-ixU .list>a>img{
    width: 250px;
    height: 270px;
    border-radius: 6px;
}
.wq-ixU .list>a .Beauty-buttom{
    width: 250px;
    height: 95px;
}
/*语音时间 和单价*/
.wq-ixU .Beauty-buttom-down{
    width: 234px;
    height: 40px;
}
/*语音*/
.wq-ixU .ri{
    width: 82px;
    height: 27px;
    line-height: 27px;
    margin-top: 7px;
    border-radius: 16px;
    background: #FFDF25;
    float: left;
    /*光标变成手形*/
    cursor: pointer;
}
.wq-ixU .ri1{
    width: 82px;
    height: 27px;
    margin-left: 5px;
}
.wq-ixU .ri1 .time{
    color: #000;
}
/*42 y币/小时*/
.wq-ixU .t .le{
    font-size: 12px;
    float: right;
    margin-top:0;
    color: rgb(255, 168, 0);
    background-color: transparent;
}
.wq-ixU .t .le strong{
    font-size: 30px;
    font-weight: normal;
}
.wq-ixU .t {
    width: 234px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
}
.wq-ixU .t1{
    width: 234px;
    height: 23px;
    margin-top: 8px;
}
.wq-ixU .t1>span{
    color:#000;
}
.wq-ixU .t1>span img{
    width: 25px;
    height: 25px;
}
.wq-ixU .t2{
    display: inline-block;
    vertical-align: middle;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(93, 224, 47);
    padding: 0 5px;
    border-radius: 4px;
}
/*********************以上是图片************************/
/*底部*/
.wq-ixU .footer{
    width:1200px;
    height: 100px;
}
.wq-ixU .footer a{
    display: block;
    width: 260px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    color: rgb(157, 74, 0);
    box-shadow: rgb(255, 233, 112) 0 4px 16px;
    border-radius: 60px;
    margin: auto;
    background: linear-gradient(to right, rgb(255, 233, 0), rgb(255, 205, 0)) rgb(255, 233, 0);
    transition: opacity 0.3s ease 0s;
}
/*底部*/
/*****************以上是  LOL 绝地求生 王者荣耀*********************/
/*****************底部*************************************/
.wq-bottom{
    height: 679px;
}
.wq-bottom .u1{
    width: 1200px;
    height: 120px;
    margin: 0 auto;
}
.wq-bottom .u1 li{
    float: left;
}
.wq-bottom .u1 .nei{
    height: 72px;
    margin-top: 25px;
    margin-left: 0;
}
.wq-bottom .u1 .first{
    margin-left: 40px;
}
.wq-bottom .nei mark{
    display: block;
    width: 38px;
    height: 38px;
    color: rgb(255, 255, 255);
    line-height: 38px;
    font-size: 28px;
    font-family: Arial;
    text-indent: -4px;
    border-radius: 50%;
    background: linear-gradient(100deg, rgb(238, 209, 136), rgb(204, 168, 104)) rgb(204, 168, 104);
    overflow: hidden;
}
.wq-bottom .nei span{
    display: block;
    padding-top: 13px;
    color: rgb(117, 107, 64);
}
.wq-bottom .u1 .jian{
    width: 122px;
    height: 100%;
    background-image: url("../images/index.images/jian.png");
    background-repeat: no-repeat;
    margin-left: 70px;
}
.wq-bottom .fen{
    width: 1200px;
    box-sizing: border-box;
    margin: 30px auto;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.wq-bottom .u2{
    width: 1200px;
    height: 106px;
    margin: 0 auto;
}
.wq-bottom .u2 li{
    float: left;
    margin-top: 2px;
    margin-left: 109px;
}
.wq-bottom .u2 a{
    display: block;
    color: rgb(143, 143, 143);
    line-height: 24px;
    transition: all 0.3s linear;
}
.wq-bottom .u2 a:hover{
    color: rgb(255, 191, 41);
}
/******以下是友情链接*******/
.wq-bottom .you{
    width: 1200px;
    height: 121px;
    margin: 0 auto;
}
.wq-bottom .you p{
    width: 1200px;
    height: 21px;
    margin-bottom: 10px;
    color: rgb(143, 143, 143);
}
.wq-bottom .you ul{
    width: 1200px;
    height: 90px;
}
.wq-bottom .you li{
    width: 150px;
    height: 30px;
    float: left;
}
.wq-bottom .you a:hover{
    color: rgb(255, 191, 41);
}
.wq-bottom .you a{
    color: rgb(143, 143, 143);
    transition: all 0.3s linear;
}
.wq-bottom .you img{
    width: 16px;
    height: 16px;
}
/*****以上是友情链接********/
.wq-bottom .dian{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}
.wq-bottom .dian p{
    color: rgb(143, 143, 143);
    line-height: 30px;
    margin: 0;
    text-align: center;
}
.wq-bottom .down{
    height: 65px;
    text-align: center;
    font-size: 14px;
    line-height: 65px;
    padding-bottom: 35px;
    color: rgb(143, 143, 143);
}





=======
>>>>>>> 6d67eb273cf363bcfaf46709ee635139a183507e
