
html::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background-color: #ffa800;
}
html::-webkit-scrollbar {
    width: 6px;
    height: 6px;}
html::-webkit-scrollbar-track{ -webkit-border-radius: 0px;border-radius: 0px;}
/*滚动条*/

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
.clearfix::after{
    content:'';
    display: block;
    clear: both;
}
.wq-header{
    height: 77px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:0;
    left:160px;
    background-color: rgba(0,0,0,0) !important;
}
.wq-header .middle{
    width: 1200px;
    height: 77px;
    position: relative;
    margin: 0 auto;
    background-color: rgba(0,0,0,0) !important;
}
.wq-header .middle>ul{
    width: 600px;
    height: 77px;
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -300px;
}
.wq-header .u2>li{
    width: 200px;
    height: 77px;
    position: relative;
    float: left;
}
.wq-header .nv{
    line-height: 77px;
    color:#A7A7A7;
    transition: all 0.3s linear;
}
.wq-header .nv:hover{
    color: #fff;
}
.wq-header .n1{
    margin-left: 80px;
    color:#fff;
}
.wq-header .n2{
    margin-left: 65px;
}
.wq-header .n3{
    margin-left: 55px;
}
/*移入后的颜色          #FFC30F*/
/*移入前的颜色           #FFD20F*/
.wq-header .ul{
    width: 100%;
    position: absolute;
    top:60px;
    left: 0;
    height: 90px;
    display: none;
    background-color: #FFD20F;
}
.wq-header .han:hover .ul{
    display: block;
}
.wq-header .ul li{
    width: 100%;
    height: 30px;
}
.wq-header .ul a{
    display: block;
    text-align: center;
    line-height: 30px;
    color: white;
}
.wq-header .ul li:hover{
    background-color: #FFC30F;
}
/*logo*/
.wq-header .middle .logo{
    width: 143px;
    height: 77px;
    position: absolute;
    top:0;
    left: -106px;
}
.wq-header .logo img{
    margin-top: 10px;
}
.wq-header .logo span{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top:-19px;
    color: #343434;
}
.wq-header .middle .logo1{
    width: 182px;
    height: 42px;
    background-image: url("../images/index.images/xia(3).png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 160px 30px;
    position: absolute;
    top:16px;
    right: -110px;
    border:1px solid #ffd40f;
    border-radius: 20px;
}
/*******以上是导航栏**********/
/*******MP4********/
.wq-banner{
    min-width: 1200px;
    height: 854px;
    overflow: hidden;
    margin: auto;
    position: relative;
    z-index: -1;
}
.wq-banner .video{
    width: 1519px;
    height: 854px;
    position: relative;
    top:0;
    left:50%;
    transform: translateX(-61%);
}
.wq-banner .video video{
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    object-fit: contain;
}
/******MP4中的内容********/
.wq-mark{
    width: 1519px;
    height: 854px;
    position: relative;
    top:-700px;
    left: 0;
}
.wq-mark .ku{
    width: 441px;
    height: 217px;
    position: absolute;
    top:2px;
    left: 546px;
}
.wq-mark p{
    font-size: 18px;
    color:#fff;
    margin-top: 34px;
    text-align: center;
}
.wq-mark .ke{
    width: 320px;
    height: 100px;
    position: absolute;
    top:365px;
    left: 607px;
    border-radius: 10px;
    background-image:url("../images/index.images/xia(2).png");
    transition: all .3s;
}
.wq-mark .ke:hover{
    transform: translateY(-2px);
    box-shadow:0 4px 20px rgba(0,0,0,.6);
}
.wq-mark .han{
    width:480px;
    height:39px;
    position: absolute;
    font-size: 24px;
    top:549px;
    left: 538px;
}
.wq-mark .ping,.an,.er{
    position: absolute;
    border-radius: 4px;
    background-repeat: no-repeat;
}
.wq-mark .ping,.an{
    border:1px solid #ffc70f;
    padding-left: 48px;
    padding-right: 18px;
    color:#ffc70f;
    background-position:18px 95%;
    transition: all .3s linear;
    top:2px;
}
.wq-mark .ping{
    background-image: url("../images/index.images/ping.png");
    left: 0;
}
.wq-mark .ping:hover,.an:hover{
    background-position:18px 0;
    color:#2f2930;
    background-color:#ffc70f;
}
.wq-mark .an{
    background-image: url("../images/index.images/an.png");
    right: 0;
}
.wq-mark .er{
    background-image: url("../images/index.images/erwei.png");
    width:42px;
    height:39px;
    background-size: 28px 28px;
    border:1px solid #fff;
    background-position: center center;
    top:-2px;
    left: 210px;
    overflow: hidden;
}
.wq-mark .er:hover{
    overflow: visible;
}
.wq-mark .er:hover .erwei{
    opacity: 1;
    top:-180px;
}
.wq-mark .erwei{
    width:160px;
    height:160px;
    box-sizing: border-box;
    padding: 20px 20px;
    position: absolute;
    top:-220px;
    left: -60px;
    opacity: 0;
    transition: all .3s;
    background-color: #fff;
}
.wq-mark .erwei img{
    width:120px;
    height:120px;
}
.wq-mark .erwei .san{
    position: absolute;
    bottom:-30px;
    left: 59px;
    border:20px solid #fff;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}
/**************以上是MP4中的内容************************/
/*********content**************/
.wq-content{
    height:2652px;
}
.wq-content .life{
    width:1200px;
    height:115px;
    margin: -45% auto 0 auto;
    border:1px solid aqua;
    box-sizing: border-box;
}
.wq-content .life img{
    width: 410px;
    height:44px;
    animation-name:mymove;
    animation-duration:5s;
    margin-left:386px;
    margin-top:40px;
}
@keyframes mymove{
    from{margin-top:40px;}
    to{margin-top:0;}
}
.wq-content .life p{
    width:1200px;
    height:40px;
    font-size:18px;
    color:#4c3f4e;
    text-align: center;
    line-height: 27px;
}


