* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: '微软雅黑';
}
body {
  background: #f6f6f6;
}
#box {
  height: 100%;
  position: relative;
}
#mainBox {
  position: absolute;
  left: 50%;
  top: 24px;
  margin-left: -600px;
  width: 1200px;
}
#leftBox {
  height: 100%;
  width: 844px;
  float: left;
  background: white;
  margin-bottom: 20px;
}
#leftBox .newsMain {
  font-size: 22px;
  color: #323232;
  border-bottom: #f6f6f6 2px solid;
  padding-left: 30px;
}
#leftBox .newsMain a {
  color: #323232;
  line-height: 80px;
}
#leftBox .newsMain a:hover {
  color: #ffbf29;
}
#leftBox .newsMain em {
  margin: 0 10px;
  font-style: normal;
  font-family: monospace;
  letter-spacing: -6px;
}
#leftBox .newsCon {
  position: relative;
  padding: 30px 30px 0 30px;
}
#leftBox .newsCon .newsInfo {
  padding: 10px;
}
#leftBox .newsCon .newsInfo .tag {
  display: flex;
  flex-direction: row;
}
#leftBox .newsCon .newsInfo .tag li {
  border-radius: 8px;
  padding: 2px 10px;
  font-size: 12px;
  color: white;
  background: #ff8b3e;
  margin-right: 10px;
}
#leftBox .newsCon .newsInfo .firInfo {
  font-size: 12px;
  line-height: 20px;
}
#leftBox .newsCon .newsInfo .secInfo {
  line-height: 20px;
  margin-left: 20px;
  font-size: 12px;
  color: #ababab;
}
#leftBox .newsCon .newsText {
  border-bottom: #f6f6f6 2px solid;
}
#leftBox .newsCon .newsText p {
  padding: 0 10px 0 10px;
}
#leftBox .newsCon .newsText p span {
  line-height: 24px;
}
#leftBox .newsCon .prev {
  float: left;
  margin: 15px 0 15px 20px;
}
#leftBox .newsCon .prev p {
  text-align: left;
}
#leftBox .newsCon .next {
  float: right;
  margin: 15px 20px 15px 0;
}
#leftBox .newsCon .next p {
  text-align: right;
}
#leftBox .newsCon a {
  color: #0f0f0f;
  display: flex;
  flex-direction: row;
}
#leftBox .newsCon a:hover {
  color: #ffbf29;
}
#leftBox .newsCon a i {
  font-size: 30px;
  margin: 0 10px;
  font-style: normal;
  font-family: monospace;
  letter-spacing: -6px;
  line-height: 48px;
}
#leftBox .newsCon a div p {
  line-height: 24px;
  font-size: 14px;
}
.msgBox {
  border-top: #f6f6f6 24px solid;
}
.msgBox .msg {
  padding: 20px;
  display: flex;
  flex-direction: row;
  border-top: #f6f6f6 2px solid;
}
.msgBox .msg img {
  border-radius: 50%;
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  margin-left: 15px;
}
.msgBox .msg div textarea {
  font-size: 14px;
  border-style: solid;
  resize: none;
  width: 580px;
  height: 100px;
  border-radius: 0px;
  border-color: #ffbf29;
  padding: 5px 0 0 10px;
}
.msgBox .msg .msgBtn {
  width: 109px;
  height: 109px;
  background: #ffbf29;
  border: 1px #ffbf29 solid;
  font-size: 16px;
  color: white;
}
#rightBox {
  height: 100%;
  width: 332px;
  background: white;
  float: left;
  margin-left: 24px;
}
#rightBox #playerBox h2 {
  line-height: 24px;
}
#rightBox #playerBox div {
  position: relative;
  display: flex;
  padding: 12px 0;
  border-top: #f6f6f6 2px solid;
}
#rightBox #playerBox div a {
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  width: 300px;
  height: 220px;
  overflow: hidden;
}
#rightBox #playerBox div a img {
  position: absolute;
  margin: auto;
  transition: all 0.2s ease-in;
}
#rightBox #playerBox div a img:hover {
  transform: scale(1.2);
}
#rightBox #playerBox div p {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-indent: 8px;
  line-height: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.6);
}
#newsBox {
  margin-top: 24px;
  background: white;
  width: 844px;
  height: 100%;
}
#newsBox #bannerBox #banner {
  border-bottom: #f6f6f6 2px solid;
  padding-left: 30px;
}
#newsBox #bannerBox #banner div {
  display: inline-block;
  padding: 20px 0;
  font-size: 22px;
  margin-right: 70px;
}
#newsBox #bannerBox #banner div a:hover {
  color: #ffbf29;
}
.title {
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  color: black;
  margin: 20px 0 20px 15px;
  padding-left: 10px;
  border-left: 3px #ffa800 solid;
}
.hotNews {
  border-top: 20px #f6f6f6 solid;
  margin-top: 20px;
}
.newsList {
  padding: 10px 0;
  border-top: #f6f6f6 2px solid;
}
.newsList a {
  display: flex;
  flex-direction: row;
}
.newsList a .hotNewsImg {
  overflow: hidden;
  position: relative;
  width: 70px;
  height: 70px;
  margin-left: 15px;
  margin-right: 20px;
}
.newsList a .hotNewsImg div {
  width: 70px;
  height: 70px;
  position: relative;
}
.newsList a .hotNewsImg div img {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
}
.newsList a .hotNewsCon h4 {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 180px;
  color: #333333;
}
.newsList a .hotNewsCon div p {
  max-height: 48px;
  width: 220px;
  font-size: 12px;
  color: #9a9a9a;
  text-overflow: ellipsis;
}
.clearfix {
  clear: both;
}
.pageBox ul {
  padding: 15px 0 15px 300px;
}
.pageBox ul li a {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  color: #0f0f0f;
  font-size: 14px;
  border: 1px #0f0f0f solid;
  line-height: 32px;
  margin-right: 10px;
}
.pageBox ul li a:hover {
  color: #ffa800;
  border: 1px #ffa800 solid;
}
.pageBox ul li .page {
  width: 50px;
  height: 32px;
}
.pageBox ul li .noPage {
  color: #ababab;
  border: 1px #ababab solid;
}
.pageBox ul li .pageActive {
  color: #ffa800;
  border: 1px #ffa800 solid;
}
/*# sourceMappingURL=news.css.map */