* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
li {
  list-style: none;
}
i {
  font-style: normal;
}
/* 优惠券 */
.goodJoin .joinBox {
  position: absolute;
  box-sizing: border-box;
  padding-top: 14px;
  width: 275px;
}
.goodJoin .joinBox > div {
  float: left;
  height: 50px;
  cursor: pointer;
}
.goodJoin .joinBox > div > b {
  font-size: 12px;
}
.goodJoin .joinBox > div > span {
  font-size: 12px;
}
.goodJoin .joinBox .ls {
  width: 75px;
  line-height: 20px;
  text-align: center;
}
.goodJoin .joinBox .ls span b {
  font-size: 22px;
}
.goodJoin .joinBox .ls > b {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.goodJoin .joinBox .rs {
  width: 200px;
  position: relative;
}
.goodJoin .joinBox .rs b {
  font-size: 14px;
  line-height: 1.9;
}
.goodJoin .joinBox .rs span {
  display: block;
  text-indent: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.goodJoin .joinBox .rs span:nth-last-child {
  color: #8f8f8f;
}
header {
  height: 60px;
  background: pink;
}
.bg {
  background: url('../images/cdpBg.jpg');
  position: absolute;
  width: 100%;
  z-index: -1;
  background-size: auto;
}
section {
  width: 1200px;
  margin: 40px auto 40px;
  z-index: 2;
  background: white;
}
section .box {
  background-image: url('../images/cdpHx.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 40px 30px 20px;
}
section .box .box_hd {
  text-align: center;
  overflow: hidden;
}
section .box .box_hd .list span {
  margin: 10px 15px 20px;
  padding: 5px 12px;
  border-radius: 30px;
  font-size: 18px;
  line-height: 27px;
}
section .box .box_hd .list .cur {
  color: white;
  background: #ff5760;
}
section .box .box_hd .list span:hover {
  color: white;
  background: #ff5760;
  cursor: pointer;
}
section .box .box_hd p {
  text-align: left;
  margin: 20px 0;
  line-height: 2.4rem;
  margin-top: 24px;
  color: #8f8f8f;
}
section .box .box_bd .choose > li {
  /* overflow: hidden; */
  display: table;
  padding: 20px 0;
  border-bottom: 1px solid rgba(248, 248, 248);
  width: 100%;
  box-sizing: border-box;
}
section .box .box_bd .choose > li h4 {
  width: 120px;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  line-height: 40px;
}
section .box .box_bd .choose > li input {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  height: 32px;
  width: 200px;
  border: 1px solid #d9d9d9;
  padding: 4px 11px;
  line-height: 1.5;
}
section .box .box_bd .choose > li input::placeholder {
  color: #ccc;
}
section .box .box_bd .choose > li > div {
  display: inline-block;
  padding: 15px;
}
section .box .box_bd .choose > li > div input {
  padding: 4px 11px;
  line-height: 1.5;
}
section .box .box_bd .choose > li:nth-child(2) .wui-content.ng-scope {
  display: inline-block;
  width: 350px;
  height: 32px;
}
section .box .box_bd .choose > li:nth-child(3) > div input {
  width: 88px;
}
section .box .box_bd .choose > li:nth-child(4) span {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
section .box .box_bd .choose > li:nth-child(4) .on {
  background: #000;
  color: #FFBA06;
  border-radius: 30px;
}
section .box .box_bd .choose > li:nth-child(4) span:hover {
  background: #000;
  color: #FFBA06;
  border-radius: 30px;
}
section .box .box_bd .choose > li:nth-child(5) h4 {
  height: 70px;
  line-height: 70px !important;
}
section .box .box_bd .choose > li:nth-child(5) img {
  width: 276px;
  height: 70px;
}
section .box .box_bd .choose > li:nth-child(5) .lookAllTicket {
  float: right;
  cursor: pointer;
  line-height: 86px;
  color: #ffa800;
}
section .box .box_bd .choose > li:nth-child(6).on {
  height: 460px;
}
section .box .box_bd .choose > li:nth-child(6) {
  transition: all 0.3s;
  position: relative;
  /* 测试 */
  /* overflow: hidden; */
}
section .box .box_bd .choose > li:nth-child(6) .dropdown {
  display: none;
}
section .box .box_bd .choose > li:nth-child(6) .dropdown:nth-child(1) {
  display: block;
}
section .box .box_bd .choose > li:nth-child(6) > div:nth-child(2) {
  position: relative;
  top: -7px;
  width: 80%;
}
section .box .box_bd .choose > li:nth-child(6) textarea::placeholder {
  color: #ccc;
  text-indent: 1rem;
}
section .box .box_bd .choose > li:nth-child(6) .spread {
  position: absolute;
  right: 0;
  bottom: 32px;
}
section .box .box_bd .choose > li:nth-child(6) .spread span {
  color: #8f8f8f;
  cursor: pointer;
}
section .box .box_bd .choose > li:nth-child(6) .spread span i:before {
  font-size: 12px;
  font-weight: 200;
}
section .box .box_bd .choose > li:nth-child(6) .spread span:hover {
  color: #ffa800;
}
section .box .box_bd .choose > li:nth-child(6) .spread span.on {
  color: #ffa800;
}
section .box .box_bd .choose > li:nth-child(6) .spread span.on i {
  transform: rotate(-90deg);
}
section .box .box_bd .choose > li:nth-child(7) {
  border: none;
  color: #FF5760;
}
section .box .box_bd .choose > li:nth-child(7) > div {
  width: 250px;
  display: block;
  margin: 0 auto;
}
section .box .box_bd .choose > li:nth-child(7) > div div {
  text-align: center;
}
section .box .box_bd .choose > li:nth-child(7) > div span {
  text-align: center;
  color: #8f8f8f;
}
section .box .box_bd .choose > li:nth-child(7) > div i {
  display: block;
  border-radius: 45px;
  line-height: 45px;
  height: 45px;
  background-color: #f22833;
  cursor: pointer;
  color: #fff;
  margin-top: 20px;
}
section .box .box_bd .choose > li:nth-child(7) > div b {
  font-size: 24px;
}
section .box .box_bd .gameList {
  padding-left: 16px;
}
section .box .box_bd .gameList li {
  cursor: pointer;
  width: 90px;
  height: 110px;
  box-sizing: border-box;
  float: left;
  margin: 0 25px 5px 0;
  padding: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
section .box .box_bd .gameList li img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
section .box .box_bd .gameList li span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  color: #8f8f8f;
}
section .box .box_bd .gameList .on {
  border: 1px solid #ffa800;
  background: #f8f8f8;
}
section .box .box_bd .gameList .on::before {
  content: "√";
  position: absolute;
  right: 2px;
  top: 0px;
  color: white;
  z-index: 99;
  font-size: 12px;
  transform: scale(0.8);
}
section .box .box_bd .gameList .on::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 32px;
  background: #ffa800;
  transform: translate(18px, -16px) rotate(45deg);
}
.modal-body ul {
  overflow: hidden;
}
.modal-body ul li {
  float: left;
  margin-left: 10px;
  margin-top: 40px;
}
[id^=dropdownMenu] {
  width: 200px;
  height: 32px;
  cursor: pointer;
  border: 1px solid #d9d9dd;
  border-radius: 5px;
  float: left;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.65);
  text-indent: 1rem;
}
[id^=dropdownMenu] > span {
  float: right;
  line-height: 32px;
  position: relative;
  top: 14px;
  right: 5px;
}
.dropdown-menu > li {
  position: relative;
  line-height: 26px;
}
.dropdown-menu > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #feff01;
  transform: translateX(-20px);
  display: none;
  opacity: 0.1;
}
.dropdown-menu > li > a.on::before {
  display: block;
}
.dropdown-menu > li > a:hover::before {
  display: block;
}
.dropdown:nth-child(2) {
  top: 88px;
}
.dropdown:nth-child(3) {
  top: 160px;
}
.dropdown:nth-child(4) {
  top: 224px;
}
.dropdown:nth-child(4) h5 {
  float: left;
  margin-right: 20px;
}
.dropdown:nth-child(4) [id^=dropdownMenu] {
  width: 260px;
}
.dropdown:nth-child(4) .dropdown-menu {
  left: 48px;
  top: 92%;
}
.dropdown:nth-child(5) {
  top: 300px;
}
.dropdown:nth-child(5) h5 {
  float: left;
  margin-right: 20px;
}
.dropdown:nth-child(5) [id^=dropdownMenu] {
  width: 300px;
  height: 400px;
}
.dropdown:nth-child(5) .dropdown-menu {
  left: 48px;
  top: 92%;
}
.dropdown-menu {
  top: 100%;
  max-height: 150px;
  overflow: auto;
}
.dropdown:hover [id^=dropdownMenu] {
  border: 1px solid #FFBA06;
}
.dropdown-menu a.on {
  font-weight: 600;
}
@media screen and (max-width: 991px) and (min-width: 631px) {
  .modal-body ul li {
    margin-left: 5px;
  }
}
@media screen and (max-width: 630px) {
  .modal-body ul li {
    margin-left: 4px;
  }
}
.today {
  color: #FFBA06 !important;
}
.today.on {
  color: whitesmoke !important;
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/yhb/iconfont/iconfont.eot');
  src: url('../font/yhb/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/yhb/iconfont/iconfont.woff2') format('woff2'), url('../font/yhb/iconfont/iconfont.woff') format('woff'), url('../font/yhb/iconfont/iconfont.ttf') format('truetype'), url('../font/yhb/iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wui-date-editor i.icon1 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  transform: translate(170px, -4px);
}
.time-icon {
  transform: translateY(-2px);
}
/*# sourceMappingURL=RapidMatch.css.map */